# Google Custom Search Engine
# Create the below values here: https://programmablesearchengine.google.com/u/3/controlpanel/create
# Enable Search API: https://console.cloud.google.com/apis/library/customsearch.googleapis.com
# Get the key here: https://developers.google.com/custom-search/v1/introduction?authuser=3
# Enable Safe Browsing API: https://console.cloud.google.com/apis/api/safebrowsing.googleapis.com/
GOOGLE_API_KEY=
GOOGLE_PROGRAMMABLE_SEARCH_ENGINE_ID_CX=012313894b99e45d6

# OPENAI_BASE_URL=
OPENAI_API_TYPE=openai
OPENAI_API_KEY=
LLM_NAME=gpt-4.1-mini
CONTEXT_WINDOW_LENGTH=2000
LLM_KNOWLEDGE_CUTOFF=2023-04

OPENAI_API_TYPE=openai


# To access the MiniLM models.
# Some models were hosted on Azure.
# CO_API_URL=http://localhost:8000
CO_API_URL=http://4.155.112.61:8000
CO_API_KEY=mykey
EMBED_API_URL=${CO_API_URL}

# Evaluator can be hosted locally using `python3 host_models.py`
EVALUATOR_API_URL=http://localhost:8000/

# To get access to the ChainEvaluator model
HF_TOKEN=

# to allow HumanEval
HF_ALLOW_CODE_EVAL=1
HF_DATASETS_TRUST_REMOTE_CODE=True

# User agent used to prevent sites from blocking us when scraping
SCRAPER_USER_AGENT="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"
USER_AGENT=${SCRAPER_USER_AGENT}
# Maximum number pages to scrape from Google
SCRAPER_MAX_URL_FETCHES=10
SCRAPER_MAX_FETCH_RESULTS=10

# Cache settings
# We cache things for 1 day by default
CACHE_DEFAULT_TTL=86400
CACHE_FOLDER=cache_files
