# Google Custom Search Engine
# Create the below values here: https://programmablesearchengine.google.com/u/3/controlpanel/create
# https://console.cloud.google.com/apis/library/customsearch.googleapis.com
GOOGLE_API_KEY=
GOOGLE_PROGRAMMABLE_SEARCH_ENGINE_ID_CX=

# OpenAI API credentials
# OPENAI_BASE_URL=
OPENAI_API_KEY=
LLM_NAME=gpt-3.5-turbo
LLM_KNOWLEDGE_CUTOFF=2023-04
OPENAI_API_TYPE=openai

HF_ALLOW_CODE_EVAL=1
HF_DATASETS_TRUST_REMOTE_CODE=True

SCRAPER_USER_AGENT="Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/137.0.0.0 Safari/537.36"
USER_AGENT=${SCRAPER_USER_AGENT}
# Maximum number pages to scrape from Google
SCRAPER_MAX_URL_FETCHES=10
SCRAPER_MAX_FETCH_RESULTS=10

# Cache settings
# We cache things for 1 day by default
CACHE_DEFAULT_TTL=86400
CACHE_FOLDER=cache_files
