beautifulsoup4
datasets
google-api-python-client>=2.100.0
# gradio
# html2text  # required for old RAT
html5lib
IPython
jupyter
# langchain  # required for old RAT
langchain_community
loguru
# lxml  # required for old RAT
# nest_asyncio
numpy
openai
playwright
pysafebrowsing
pytest
python-dotenv
readability-lxml
requests
sentence-transformers
simple_cache
# tiktoken  # required for old RAT
