beautifulsoup4
cohere
datasets
fastapi  # To host models, not to run the project
google-api-python-client
gradio
html2text  # for old RAT
html5lib
human_eval
IPython
jupyter
langchain  # for old RAT
langchain_community
last_layer # Prompt Cleanup and security
loguru
lxml  # for old RAT
# nest_asyncio  # to enable async in Jupyter notebooks
matplotlib
ndg-httpsclient  # to avoid Google Search SSL errors
numpy
openai
playwright  # removed chromium usage, but let's keep it for now
pyasn1
pyopenssl
pysafebrowsing
pytest  # not used for now.
python-dotenv
pytz
readability-lxml
requests
sentence-transformers
simple_cache
tiktoken
uvicorn  # To host models, not to run the project
